<div class="home-container">
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <h1 class="logo">Sai Reddy</h1>
                <div class="nav-right">
                    <span class="username">Welcome, {{username}}</span>
                    <button mat-icon-button (click)="logout()" id="logout">
                        <mat-icon style="color: white;" class="icon">logout</mat-icon>
                    </button>
                    
                </div>
            </div>
        </nav>
    </header>

    <main class="content-container">
        <div class="content">
            <h2>About Me</h2>
            <p>
                I am a professional developer with experience in building dynamic and responsive web applications.
                I love coding and am passionate about technology. My goal is to deliver high-quality software solutions.
            </p>
            <p>
                I enjoy learning new technologies and applying them in my projects. I am particularly interested in
                front-end development, and I strive to create intuitive user experiences.
            </p>
            <p>
                Feel free to reach out to me on social media or through my contact form.
            </p>
        </div>
        
    </main>

    <footer class="footer">
        <p class="rights-text">&copy; 2024 SR Software Solutions. All rights reserved.</p>
        <div class="social-media">
            <a href="mailto:saireddysoftwaresolutions@gmail.com" target="_blank" class="link" title="Mail to : ">
                <i class="bi bi-envelope"></i> <!-- Change here to use Bootstrap email icon -->
            </a>          
            <a href="https://linkedin.com/in/saireddy-dotnetfs" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
          <a href="https://www.instagram.com/____saireddy_____?igsh=aTN2ODB5cXp3Yzk4" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://twitter.com/SaiReddy8978" target="_blank">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="https://www.facebook.com/people/Sai-Reddy/pfbid02YNCrtVFv2BQdwjHtXfrqxWiQJpGrsvqJF1QyYwN1r3Rh6idk7HkNUDHSMg33UTcul/?sk=about_details"
            target="_blank">
            <i class="bi bi-facebook"></i>
        </a>
        </div>
    </footer>



</div>